<!DOCTYPE html>
<html>
<head>
  <title>RailsHangman</title>
  <p class  = "title">Welcome to hangman!</p>
  <div class = "centered"> <%= start_button %> </div>
</head>
<body>

<%= yield %>

</body>
</html>
