<h1 class="title">Hangman</h1>
<div class="hangman">
  <br/>
  <%= render 'game_status' %>
  <% if game_running? %>
    <%= render 'guesses/guess_form'%>
  <% else %>
    <%= render 'game_over' %>
  <% end %>
  <br/>
</div>
<%= render 'flash_error' %>